.container {
   height: 100vh;
   width: 100vw;

   display: grid;

}

.video {
   background: #C4C4C4;
   width: 540px;
   height: 217px;
}

.secao-principal {
   display: grid;
   grid-template-columns: minmax(100px, 540px);
}