body {
   padding: 38px 35px;
   /* height: 100vh; */

}

.container {
   display: grid;
   gap: 17px;
   grid-template-areas:
      "secao-principal secao-principal secao-principal ads ads"
      "secao-principal secao-principal secao-principal recomendacao-videos recomendacao-videos"
      /* "secao-principal secao-principal secao-principal recomendacao-videos recomendacao-videos"; */
   /* grid-column: 1 / 6; */
}

.video {
   background: #C4C4C4;
   width: 540px;
   height: 217px;
}

.secao-principal {
   grid-area: secao-principal;
   width: 540px;
   background-color: bisque;
   font-family: Roboto;
}

.secao-principal .titulo {
   font-size: 18px;
   font-weight: 700;
   padding-top: 12px;
}

.secao-principal span {
   font-size: 14px;
   font-weight: 300;
   padding-top: 7px;
}

.secao-principal p{
   font-size: 16px;
   padding-top: 10px;

}

.ads {
   grid-area: ads;
   background-color: burlywood;
   width: 270px;
   height: 56px;

}

.recomendacao-videos {
   grid-area: recomendacao-videos;

   background-color: brown;
   width: 270px;
   display: grid;
}

.dados {
   flex-direction: column;
   grid-column: 2;
}

.video-recomendacao {
   background-color: #C4C4C4;
   width: 101px;
   height: 71px;
}